
<main>
 <link rel="stylesheet" href="/css/loginADM.css">

    <div class="container">
        <div class="login-content">

            <div class="login-left">

                <div class="text-agroup">
                    <h2>Olá funcionarios, Seja Bem Vindo ao ServTec!</h2>
                </div>
                <div class="text-agroup">
                    <p>Veja os serviços solicitados</p>
                </div>

                <div class="">
                    <img src="">
                </div>


            </div>
            <div class="login-right">
                <div class="background-circle1"></div>
                <div class="background-circle2"></div>
                <form action="/loginFuncionario" method="post" id="user-login-form">
                    <img src="pictures/clientep.gif">
                    <p class="title">Login</p>
                    <div class="input-agroupt">
                        <i class='bx bx-user'></i>
                        <input type="email" placeholder="Digite seu e-mail" name="email" id="login-email" required>
                    </div>
                    <div class="input-agroupt">
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" placeholder="Digite sua senha" name="senha" id="login-senha" required>
                    </div>


                    <input type="submit" value="Entrar" id="login-salvar">


                </form>
                <form action="/registro" method="post">
                <div class="register" >
                        <input class="bnt_regis" type="submit" value="Registre-se!">
                 </div>
                 </form>
            </div>
        </div>
       
    </div>
    
</main>