<header>
    <title>Registro</title>
</header>
<main>
        <div class="register-content">
            <div class="register-left">
                <div class="text-agroup">
                    <img src="/imagens/mainmoney.png">
                    <h2>Olá, Seja Bem Vindo ao +Money!</h2>
                </div>
                <div class="text-agroup">
                    <p>Cadastre-se e conheça nossos Serviços!</p>
                </div>

            </div>
            <div class="register-right">
                
             
                <form action="/cadastroCliente" method="post" id="user-form">
                    <img src="/imagens/mainmoney-purple.png" alt="Gif animado">
                    <p class="title">Criar Conta</p>
                    <div class="input-agroupt">

                        <i class='bx bxs-user-detail'></i>

                        <input type="text" placeholder="Digite seu nome " name="nome">
                    </div>

                    <div class="input-agroupt">

                        <i class='bx bxs-school'></i>

                        <input type="text" placeholder="Sua Universidade" name="universidade">
                    </div>

                    <div class="input-agroupt">

                        <i class='bx bx-notepad'></i>

                        <input type="text" placeholder="Seu Curso" name="curso">
                    </div>

                    <div class="input-agroupt">
                        <i class='bx bx-envelope'></i>
                        <input type="email" placeholder="Seu e-mail" name="email">
                    </div>
                  
                    <div class="input-agroupt">
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" placeholder="Sua senha" name="senha">
                    </div>
                
                    <input type="submit" value="Registrar-se" id="salvar">
                </form>
                <form action="/" method="get">
                <div class="register" >
                        <input class="bnt_regis" type="submit" value="Login">
                 </div>
                 </form>
            </div>
        </div>

    <link rel="stylesheet" href="/css/regitro.css">
</main>
