<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- bootstrap --}}
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    
    {{!-- menu--}}
 
    {{!-- ccss estilo --}}
  
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="/imagens/icone-coin.png" type="image/x-icon">
     
     
    </style>
</head>
<body>
    {{{body}}}
    </body>
</html>